/src/Debug
/src/lib_prj/utility/easyTest.h
/src/lib_prj/Thread/SimpleAtomicCount.cpp
/vs/vs2013
/vs/vs2013/obj
/vs/vs2013/bin
/vs/*
.vs
/src/test/version.h
/src/aoi/del_sync_tmp_file.bat
/src/aoi/run.py
/out
